/*
 * David Xu, 2016.
 */
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--primary-background-color);
}

#generatePreviewButton {
  position: fixed;
  left: 50%;
  right: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

/* FIXME: Use the fitInto property of paper-toast */
#compileProblemToast {
  left: 50%;
  right: 0;
}